* { 
    background-color: lightgray; /* smoke test*/
    box-sizing: border-box;
    /* eventually change font here */
}

/* page styling */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* board styling */
.flx-ctr{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

#board {
    width: calc(auto * 3);
    height: calc(auto * 3);
    display: grid;
    gap: 1vmin;
    grid-template-columns: repeat(3, auto);
    margin-top: 1vh;
}

/* tile styling */
#cell {
    color: black;
    width: 100px;
    height: auto;
    border-radius: 1vh;
    position: relative;
    display: inline-block;

}

.tile {
    background-color: #94C5CC;
    width: 25vh;
    height: 25vh;
    border: 1px solid black;
    color: black;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 1vh;
    padding: 4vmin;
    font-size: 15vmin;
    font-family: Arial, Helvetica, sans-serif;
}

.tile:hover{
    background-color: #A1A6B4;
    border: 1px solid black;
    cursor: pointer;
}

.win {
    background-color: #B5EF8A;
}
.empty {
    border: none;
    background-color: lightgrey;
}

.empty:hover{
    border: none;
    background-color: lightgray;
}

/* start/restart/shuffle button styling */
button {
    justify-self: center;
    width: 15vmin;
    height: 7vmin;
    border: 2px solid black;
    border-radius: 2vmin;
    font-size: 3vmin;
    font-weight: bold;
}

button:hover{
    border: 2px solid #6B0F1A;
    background-color: black;
    color: white;
    cursor: pointer;
}