* { 
    background-color: lightgray; /* smoke test*/
    box-sizing: border-box;
    /* eventually change font here */
}

/* page styling */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* board styling */
.flx-ctr{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

#board {
    width: calc(30vh * 3);
    height: calc(30vh * 3);
    /* background-color: lightcoral; */
    display: grid;
    gap: 1vmin;
    grid-template-columns: repeat(3, auto);
    margin-top: 1vh;
}

/* tile styling */
#cell {
    /* background-color: lightskyblue; */
    color: black;
    border-radius: 1vh;
    /* border: 1px solid red; */
    position: relative;
    display: inline-block;
}

.tile {
    background-color: lightskyblue;
    border: 1px solid black;
    color: black;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 1vh;
    padding: 13vh;
    font-size: 20px;
}

.tile:hover{
    background-color: aquamarine;
    border: 1px solid black;
    
}

.empty {
    border: none;
    background-color: lightgrey;
}

.empty:hover{
    border: none;
    background-color: lightgray;
}

.win {
    background-color: green;
}

/* start/restart/shuffle button styling */
button {
    justify-self: center;
    width: 10vmin;
    height: 7vmin;
    border: 2px solid black;
    border-radius: 2vmin;
    font-size: 2vmin;
}

button:hover{
    border: 2px solid red;
    background-color: black;
    color: white;
    margin-bottom: ;
}
